* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: red;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 65%;
  margin: 0 auto;
  padding: 8px 0;
}

.header__title {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 700;
}

.header__nav-container {
  display: flex;
  gap: 32px;
  
}

.header__link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
}